<div class="row filter-search">
	<form class="" action='/' method="get" accept-charset="utf-8">
		<div class="col-md-4">
			<div class="form-group" style="display:inline;">
			  <div class="input-group">
			    <input type="text" class="form-control" placeholder="Que estas buscando?" name='text' />
			    <span class="input-group-btn">
			          <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span> </button>
			    </span>
			  </div>
			</div>
		</div>
		<div class="col-md-7">
			<div class="row">
				<div class="col-md-3">
					<select name="dependencia">
						<option value="">Dependencia</option>
						<% for(var j=0; j<dependencias.length; j++) {
					        var dependencia = dependencias[j];
					    %>
					    	<option value='<%- dependencia.id %>'><%- dependencia.nombre %></option>
					    <% }%>
					</select>						
				</div>					
				<div class="col-md-3">
					<select name="sector">
						<option value="">Sector</option>
						<% for(var j=0; j<sectores.length; j++) {
					        var sector = sectores[j];
					    %>
					    	<option value='<%- sector.id %>'><%- sector.nombre %></option>
					    <% }%>
					</select>						
				</div>
				<div class="col-md-3">
					<select name="status">
						<option value="">Status</option>
						<% for(var j=0; j<statii.length; j++) {
					        var status = statii[j];
					    %>
					    	<option value='<%- status.id %>'><%- status.nombre %></option>
					    <% }%>
					</select>						
				</div>
				
				<div class="col-md-3">	
		            <select name="#">
		            	<option value=""><i class="glyphicon glyphicon-calendar"></i> Fecha</option>
		            	<option value="2013">2013</option>
		            	<option value="2012">2012</option>
		            	<option value="2011">2011</option>
		            	<option value="2010">2010</option>
		            	<option value="2009">2009</option>
		            	<option value="2008">2008</option>
		            	<option value="2007">2007</option>
		            	<option value="2006">2006</option>
		            	<option value="2005">2005</option>
		            	<option value="2004">2004</option>
		            	<option value="2003">2003</option>
		            </select>				
				</div>				
			</div>
		</div>	
		<div class="col-md-1">
			<input type="submit" class="btn btn-search" value='buscar' />
		</div>
	</form>	
</div>
