<div class="row">
  <div class="col-xs-12" id="left">
      <!-- lista de solicitudes -->
      <% if(solicitudes){for(var i=0; i<solicitudes.length; i++) {
          var solicitud = solicitudes[i];
      %>
          <div class="panel panel-default">
            <div class="panel-heading">
                <p><a href="/solicitud/index/<%- solicitud.FOLIO %>"><%- solicitud.DESCRIPCIONSOLICITUD %></a></p>
                <p><a href='/dependencia/?nombre=<%- solicitud.DEPENDENCIA %>'><%- solicitud.DEPENDENCIA %></a>
                <span class='date'> | <%- solicitud.FECHASOLICITUD %></span></p>
                <!-- <p><%- solicitud.MUNICIPIO%>, <%- solicitud.PAIS %> <%- solicitud.CODIGOPOSTAL %>  </p> -->
                <div class="vote-action">
                    Votar <div class="arrows"><a href="#" class="up"></a><a href="#" class="down"></a></div>
                </div>    
                <div class="clear"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-9">
              <div class='solicitud-data'>
                  <p><strong>Estatus:</strong> <%- solicitud.ESTATUS %></p>
                  <p><strong>Respuesta:</strong> <%- solicitud.RESPUESTA %></p>
                  <p><%- solicitud.TEXTORESPUESTA%></p>
              </div>              
            </div>
            <div class="col-md-3">
              <div class="status">
                <div class="votes"><p>Votos</p><p><strong>22</strong></p></div>
                <% if(i%2==0){ %>
                <div class="respondida"><p>Respondida</p><p><span class="glyphicon glyphicon-ok"></span></p></div>
                <% }else{%>
                <div class="respondida"><p>Respondida</p><p><span class="glyphicon glyphicon-remove"></span></p></div>
                <% }%>
                <div class="clear"></div>
              </div>
            </div>
          </div>

        <hr>
      <% }} %>
    <!-- / lista de solicitudes -->

    <!--<p>
    <a href="http://bootply.com" target="_ext" class="center-block btn btn-primary">More Bootstrap Snippets on Bootply</a>
    </p>-->
    <ul class="pagination">
      <li><a href="#">&laquo;</a></li>
      <li><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li><a href="#">&raquo;</a></li>
    </ul>
      
    <hr>      

  </div>
  
</div>
