    <div class="panel panel-default">
        <div class="panel-heading">
            <a><%- solicitud.DESCRIPCIONSOLICITUD %></a>
            <span class='date'> | 2003/06/12</span>
            <p><%-solicitud.PAIS %> , <%- solicitud.ESTADO %> , <%- solicitud.MUNICIPIO %> , <%- solicitud.CODIGOPOSTAL %> </p>
            <div class="vote-action">
                Votar <div class="arrows"><a href="#" class="up"></a><a href="#" class="down"></a></div>
            </div>    
            <div class="clear"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
          <div class='solicitud-data'>
            <p><strong>Folio: </strong> <%- solicitud.FOLIO %> </p>
            <p><strong>Sector: </strong> <%- solicitud.SECTOR %> </p>
            <p><strong>Tipo de solicitud:</strong> <%- solicitud.TIPOSOLICITUD %> </p>
            <p><strong>Estatus:</strong> <%- solicitud.ESTATUS %></p>
            <p><%- solicitud.OTROSDATOS %></p>
            <p><strong>Dependencia: </strong><%- solicitud.DEPENDENCIA %></p>
            <p><strong>Medio de entrega: </strong><%- solicitud.MEDIOENTREGA %></p>
            <p><strong>Fecha Límite: </strong><%- solicitud.FECHALIMITE %></p>
            <% if(solicitud.ARCHIVOADJUNTOSOLICITUD != '' ){ %><p><br /><strong>Archivo adjunto: </strong><br /><a target='_blank' href='<%- solicitud.ARCHIVOADJUNTOSOLICITUD %>' class='file-icon glyphicon glyphicon-file'></a></p> <% } %>
          </div>              
        </div>
        <div class="col-md-3">
          <div class="status">
            <div class="votes"><p>Votos</p><p><strong>22</strong></p></div>
            <% if (solicitud.RESPUESTA!= 'Sin respuesta'){ %>
            <div class="respondida"><p>Respondida</p><p><span class="glyphicon glyphicon-ok"></span></p></div>
            <% }else{%>
            <div class="respondida"><p>Respondida</p><p><span class="glyphicon glyphicon-remove"></span></p></div>
            <% }%>
            <div class="clear"></div>
          </div>
        </div>
    </div>
    <hr>
    <h4>Respuesta</h4>
    <div class="respuesta-data">
        <p><%- solicitud.RESPUESTA %>  | <strong><%- solicitud.FECHARESPUESTA %></strong></p>
        <p class="text-respuesta"><%- solicitud.TEXTORESPUESTA %></p>
        <% if(solicitud.ARCHIVORESPUESTA != '' ){ %><p><br /><strong>Archivo de respuesta: </strong><br /><a target='_blank' href='<%-solicitud.ARCHIVORESPUESTA %>' class='file-icon glyphicon glyphicon-file'></a></p> <% } %>
    </div>

<br />
<% if( solicitud.recursos_revision.length > 0 ){  %>
<h3>Recursos de revisión</h3>
<div class='recursos_revision'>
	<% 
    for(var y=0;y<solicitud.recursos_revision.length;y++){ 
        var recurso = solicitud.recursos_revision[y];
    %>
    	<div class='rec_rev_indiv'>
    		<h5> UnidadEnlace | <span class='date'>DATE</span> </h5>
    		<p><strong> Comisionado: </strong> nombre </p>
    		<p><strong> Plazos ampliación: </strong> </p>
    		<p><strong> Sentido de la resolución:</strong> </p>
    		<p><strong> Votos disidentes:</strong>  <strong> Votos particulares:</strong> </p>
    		<p><strong> Cumplimiento: </strong>  </p>
    		<p><strong> A-P-D:</strong> </p>
    	</div>
	<% 
    } 
    %>
</div>
<% } %>

<div class='articulos_relacionados'>
    <h3>Artículos relacionados</h3>
    <p>Comprate links de artículos relacionados con el tema que sirvan para complementar o aclarar dudas.</p>
    <% if(req.user && req.user.profile){ %>
        <form action='/solicitud/addarticle/<%- solicitud.id %>' method='POST' accept-charset="utf-8" role='form'>
            <div class='form-group'>
                <textarea name='text' class='form-control' ></textarea>
            </div>
            <input type='submit' value='Enviar' class='btn btn-default' />
        </form>
    <% }else{ %>
        <br />
        <div class='alert alert-warning'>Debes estar logueado para poder dejar un link</div>
    <% } %>
    <div class='articulos_result'>
        <% 
        for(x=0;x<solicitud.ferencias_periodisticas.length;x++){ 
            var referencia = solicitud.ferencias_periodisticas[x];
        %>
            <div class="panel panel-default">
              <div class="panel-heading"><%- referencia.user %></div>
              <div class="panel-body">
                <% var link = referencia.text.replace(/(?:(https?\:\/\/[^\s]+))/m , '<a href="$1">$1</a>') %>
                <%- link %>
              </div>
            </div>
        <% } %>
    </div>
</div>
